body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 60px;
}

.h2 {
    font-size: 40px;
}

.blue-color {
    color: orange;
}

.flexible-containar {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(blue, red);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.banner-add {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.jhanker-vai {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.padding-add {
    padding-left: 30px;
}

.orange-color {
    color: orange;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiance-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px gray;

}

#full-stork-web {
    border-left: 10px solid tomato;
}

#baby-web-development {
    border-left: 10px solid green;
}

footer p {
    text-align: center;
}